<md-card>
    <md-card-title>About Geographic Center</md-card-title>
    <md-card-content>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>1. Create a group</template>
                <template md-tab-content>
                    <p>
                        Click the big plus arrow on the top right of the application to create a new group. Identify it by giving it a memorable
                        name.
                    </p>
                    <p class="text-center img-container"><img src="/ui/images/about-create-group.png" class="scale" /></p>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>2. Invite friends</template>
                <template md-tab-content>
                    <p>
                        Send the group URL to friends. Once they enter the group their location will be shown on the map. The geographic center of
                        all members updates dynamically as more people join.
                    </p>
                    <p class="text-center img-container"><img src="/ui/images/about-invite-friends.png" class="scale" /></p>
                </template>
            </md-tab>
        </md-tab-group>
    </md-card-content>
</md-card>