<md-card>
    <md-card-title>About Geographic Center</md-card-title>
    <md-card-content>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>Create groups</template>
                <template md-tab-content>
                    <p>
                        Click the big plus arrow on the top right of the application 
                        to create a new group. Identify it by giving it a memorable name.
                    </p>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Invite friends</template>
                <template md-tab-content>
                    <p>
                        Send the group URL to friends. Once they enter the group their 
                        location will be shown on the map. The geographic center of all 
                        members updates dynamically as more people join.
                    </p>
                </template>
            </md-tab>
        </md-tab-group>
    </md-card-content>
</md-card>