<md-tab-group>
    <md-tab>
        <template md-tab-label>Create groups</template>
        <template md-tab-content>
            <md-card>
                <md-card-content>Click the big red plus arrow on the top right of the application to create a new group. Give it a memorable name to identify it.</md-card-content>
            </md-card>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Invite friends</template>
        <template md-tab-content>
            <md-card>
                <md-card-content>Send the group URL to friends. Once they enter the group their location will be shown on the map. The geographic center of all members dynamically updates as more people join.</md-card-content>
            </md-card>
        </template>
    </md-tab>
</md-tab-group>