* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 1;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

.form md-card {
  flex-grow: 1;
}

.pull-right {
  float: right;
}

.input-container {
  display: flex;
}

.input-container > md-input {
  flex-grow: 1;
  margin-right: 8px;
}

.clearfix {
  clear: both;
}

md-hint {
  display: block;
}

.close {
  margin-right: 10px;
}