<md-card>
    <md-card-title>
        <a [routerLink]="['/groups']">Groups</a> &raquo;
        <span *ngIf="!group">...</span>
        <span *ngIf="group">{{group.name}}</span>
    </md-card-title>
    <md-card-content>
        <div class="spinner-container" *ngIf="isLoading">
            <md-spinner></md-spinner>
        </div>
        <div id="map"></div>
        <div class="actions-container" *ngIf="!isLoading">
            <button md-raised-button color="primary" (click)="sendLocation()" [disabled]="isSendingLocation">{{isSendingLocation ? 'Sending...' : 'Resend my location'}}</button>
        </div>
        <md-list dense *ngIf="!isLoading && members && members.length > 0">
            <md-list-item *ngFor="let member of members">
                <md-slide-toggle [(ngModel)]="enabledMembers[member.id]" (change)="drawMap()"></md-slide-toggle>
                <span md-line><strong>{{member.username}}</strong></span>
                <span md-line>@ {{member.lastUpdatedTs | date : 'short'}}</span>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<p class="disclaimer"><small>Disclaimer: This web application stores your geolocation and shares it with other users. Use at your own risk.</small></p>