<md-card>
    <md-card-title>{{group.name}}</md-card-title>
    <md-card-content>
        <div id="map"></div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div class="spinner-container" *ngIf="!members || members.length === 0">
            <md-spinner></md-spinner>
        </div>
        <md-list *ngIf="members && members.length > 0">
            <md-list-item *ngFor="let member of members">
                <md-slide-toggle [(ngModel)]="enabledMembers[member.id]"></md-slide-toggle>
                <strong>{{member.name}}</strong>: ({{member.lat}}, {{member.lng}}, {{member.lastUpdatedTs | date}})
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>