md-card {
    margin: 10px;
}

.spinner-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

md-slide-toggle {
    margin: 16px 8px;
}

#map {
    width: 100%;
    height: 300px;
    margin-bottom: 24px;
}
.actions-container {
    text-align: center;
}
.disclaimer {
    padding: 0 20px;
}